html {
    .category-description {
        display: none;
    }
    .background-container {
        background: linear-gradient(90deg,
                    #290362 0%,
                    #4184F3 100%);
    }
}


table.category-list {
    border-collapse: separate;

    tr:first-child {
        td:first-child {
            border-top-left-radius: 8px;
        }

        td:last-child {
            border-top-right-radius: 8px;
        }
    }

    tr:last-child {
        td:first-child {
            border-bottom-left-radius: 8px;
        }

        td:last-child {
            border-bottom-right-radius: 8px;
        }
    }
}

@supports (--custom: property) {
    .category-logo.aspect-image {
        --max-height: 40px;
    }
}
.category-logo.aspect-image {
    margin: 0.33em 2em 0 0;
}
